.container {
    max-width: 1024px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    flex: 1;
    min-width: 150px;
    margin: 30px;
}
.desc {
    font-style: italic;
    font-size: 12px;
}
.price {
    font-size: 16px;
    font-weight: bold;
}